@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
.table_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 60%;
  max-height: 100%;
  height: fit-content;
  margin: 0rem auto;
  background-image: url("BG.png");
  background-size: cover;
}

#bird {
  width: 25px;
  position: relative;
  top: 2px;
}

.footer {
  color: white;
  font-family: "Pacifico", cursive;
  padding: 0.3rem;
  text-transform: none;
  width: 100%;
  text-shadow: 2px 1.5px 0px black;
  text-align: center;
}
.restable {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1em 3.5em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn:hover,
.btn:focus {
  color: rgb(0, 0, 0);
  outline: 0;
}

.btn4 {
  border-color: #f1c40f;
  color: rgb(0, 0, 0);
  background-image: -webkit-linear-gradient(
    45deg,
    #f1c40f 50%,
    transparent 50%
  );
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.btn4:hover {
  background-position: 0;
}
form {
  margin: 2em 0;
}
/**
* Make the field a flex-container, reverse the order so label is on top.
*/

.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}
.titlediv {
  display: flex;
  flex-direction: column;
}
.titlediv label {
  padding: 0.2rem 0rem;
}
.pointsdiv {
  display: flex;
  flex-direction: column;
}
.pointsdiv label {
  padding: 0.2rem 0rem;
}
.inputsdiv {
  display: flex;
  flex-direction: row;
}
.inputsdiv div {
  padding: 1rem;
}
.formbox {
  display: flex;
  flex-direction: column;
  /* height: 2rem; */
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.btn {
  margin: 0.5rem auto;
}

.leftholdcontainer{
  display: grid;
  row-gap: 0.2rem;
}
.leftcontainer{
  display: flex;
  /* grid-template-columns: auto auto; */
}
.leftpointboxes{
  color: rgb(2, 2, 2);
  /* border: 2px solid red; */
  background-color: white;
  width: 30rem;
  height: 2rem;
  font-size: 0.85rem;
  font-family: "Secular One",
  sans-serif;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1.1fr;
}
.textboxes{
  text-align: center;
  /* display: flex; */
  margin: auto;
  
}
.teamnamesbox{
  /* border: 2px solid yellow; */
  text-align: left;
  /* padding-left: 0.2rem; */
  margin-left: 0.5rem;
}
.leftrankcontainer{
  color: white;
  background-color: rgb(15, 15, 15);
  /* height: 1.8rem; */
  width: 3rem;
  display: grid;
  font-size: 0.85rem;
  font-family: "Secular One",
  sans-serif;
  /* border: 2px solid rgb(15, 15, 15); */
}


.rightholdcontainer {
  display: grid;
  row-gap: 0.2rem;
}

.rightcontainer {
  display: flex;
  /* grid-template-columns: auto auto; */
}

.rightpointboxes {
  color: rgb(2, 2, 2);
  /* border: 2px solid red; */
  background-color: white;
  width: 30rem;
  height: 2rem;
  font-size: 0.85rem;
  font-family: "Secular One",sans-serif;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1.1fr;
}

.rightrankcontainer {
  color: white;
  background-color: rgb(15, 15, 15);
  /* height: 1.8rem; */
  width: 3rem;
  display: grid;
  font-size: 0.85rem;
  font-family: "Secular One",
    sans-serif;
  /* border: 2px solid rgb(15, 15, 15); */
}
.restable{
  display: flex;
  flex-direction: row;
  width: 67rem;
  /* border: 2px solid red; */
  justify-content: space-between;
}
/* .table_bg{
  border: 2px solid red;
} */
@media (max-width: 1880px) {
  .table_bg {
    max-width: 62%;
  }
}
@media (max-width: 1192px) {
  .table_bg{
    max-width: 100%;
  }
  .restable{
    justify-content: space-between;
    width: 50rem;
  }
  .rightpointboxes{
    width: 20rem;
  }
  .leftpointboxes{
    width: 20rem;
  }
}
@media (max-width: 900px) {
  .table_bg{
    max-width: 100%;
  }
  .inputsdiv {
    flex-direction: column;
  }
  .restable{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 100%;
  }
  .rightpointboxes{
    width: 100%;
  }
  .leftpointboxes{
    width: 100%;
  }
}
.title{
  font-size: 3.5rem;
  font-family: "Secular One",sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 2px 1.5px 0px black,
  3.4px 2.5px 0px rgb(255, 123, 0);
  padding-bottom: 0.6rem;
  text-align: center;
  letter-spacing: 0.2rem;
}
.subtitle{
  font-size: 2.5rem;
  font-family: "Secular One",sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 2px 1.5px 0px black,
  3.4px 2.5px 0px rgb(255, 123, 0);
  /* padding-bottom: 0.6rem; */
  text-align: center;
  position: relative;
  top: 1rem;
  letter-spacing: 0.2rem;
}
.leftheadcontainer{
  background-color: rgb(255, 153, 0);
  margin-bottom: 0.2rem;
  height: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3rem 4fr repeat(3,1fr) 1.1fr;
  align-items: center;
  font-size: 0.9rem;
  font-family: "Secular One",
  sans-serif;
  text-align: center;
}
.leftcontainer{
  display: grid;
  grid-template-columns: 0fr repeat(4, 1fr);
  grid-template-rows: 0fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.leftheadcontainer{
  grid-area: 1 / 1 / 2 / 6;
}
.leftrankcontainer{
  grid-area: 2 / 1 / 6 / 2;
}
.leftholdcontainer{
  grid-area: 2 / 2 / 6 / 6;
}
.leftheadbox img{
  width: 25px;
}
.rightheadcontainer{
  background-color: rgb(255, 153, 0);
  margin-bottom: 0.2rem;
  height: 2rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3rem 4fr repeat(3,1fr) 1.1fr;
  align-items: center;
  font-size: 0.9rem;
  font-family: "Secular One",
  sans-serif;
  text-align: center;
}
.rightcontainer{
  display: grid;
  grid-template-columns: 0fr repeat(4, 1fr);
  grid-template-rows: 0fr repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.rightheadcontainer{
  grid-area: 1 / 1 / 2 / 6;
}
.rightrankcontainer{
  grid-area: 2 / 1 / 6 / 2;
  /* box-shadow: 10px 0px 16px -13px rgba(0, 0, 0, 1); */
}
.rightholdcontainer{
  grid-area: 2 / 2 / 6 / 6;
}
.rightheadbox img{
  width: 25px;
}
#leftheadwwcd{
  display: flex;
  justify-content: center;
}
#rightheadwwcd{
  display: flex;
  justify-content: center;
}
#leftheadhash{
  font-size: 1.3rem;
}
#rightheadhash{
  font-size: 1.3rem;
}
.rightheadbox{
  align-self: center;
  justify-self: center;
}
.leftheadbox{
  align-self: center;
  justify-self: center;
}
.titlebox{
  width: 90%;
  position: relative;
}
#serverlogo{
  width: 120px;
  position: absolute;
  left: 0rem;
  top: 1rem;
}
#haha{
  background-color: red;
  height: 10rem;
  width: 10rem;
  display: none;
}